<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.crfr.OrderDeliveryMapper">
	
	<!-- 주문 리스트 -->
	<select id="selectOrderVo" parameterType="map" resultType="OrderVo">
		select * from `order` where client_num=#{member_idx} 
	    and order_date &gt;= #{timestamp_begin}
	    and order_date &lt;= #{timestamp_end}
		order by `order_date` desc;
	</select>
	
	<!-- 주문상품 리스트 -->
	<select id="selectOrderProduct" parameterType="_int" resultType="OrderProductVo">
		select * from `order_product` where `order_idx`=#{order_idx};
	</select>
	
	<!-- 주문 리스트 수 -->
	<select id="selectOrderCount" parameterType="map" resultType="_int">
		select count(*) from `order` where client_num=#{member_idx}
	    and order_date &gt;= #{timestamp_begin}
	    and order_date &lt;= #{timestamp_end}	
	</select>
	
	<!-- 결제완료 수 (주문건) -->
	<select id="selectCountPayEd" parameterType="map" resultType="_int">
		select count(*) from `order` where client_num=#{member_idx} and order_ing='0'
	    and order_date &gt;= #{timestamp_begin}
	    and order_date &lt;= #{timestamp_end}
	</select>
	
	<!-- 배송준비중 수 (주문건) -->
	<select id="selectCountDlvIng" parameterType="map" resultType="_int">
		select count(*) from `order` where client_num=#{member_idx} and order_ing='1'
	    and order_date &gt;= #{timestamp_begin}
	    and order_date &lt;= #{timestamp_end}
	</select>
	
	<!-- 배송중 수 (주문건) -->
	<select id="selectCountDlvEd" parameterType="map" resultType="_int">
		select count(*) from `order` where client_num=#{member_idx} and order_ing='2'
	    and order_date &gt;= #{timestamp_begin}
	    and order_date &lt;= #{timestamp_end}
	</select>	
	
	<!-- 취소 리스트 -->
	<select id="selectRefund" parameterType="map" resultType="OrderVo">
		select * from `order` where client_num=#{member_idx} 
	    and order_date &gt;= #{timestamp_begin}
	    and order_date &lt;= #{timestamp_end}
	    and order_ing = 4
		order by `order_date` desc;
	</select>
	
	<!-- 취소 리스트 수 -->
	<select id="selectRefundCount" parameterType="map" resultType="_int">
		select count(*) from `order` where client_num=#{member_idx}
	    and order_date &gt;= #{timestamp_begin}
	    and order_date &lt;= #{timestamp_end}
	    and order_ing = 4		
	</select>	

	<!-- 주문번호 단건에 대한 Vo -->
	<select id="selectOrderView" parameterType="string" resultType="OrderVo">
		select * from `order` where order_num=#{order_num} 
	</select>	

	<!-- 배송지정보 -->
	<select id="selectDelivery" parameterType="_int" resultType="DeliveryVo">
		select * from `delivery` where delivery_idx=#{delivery_idx}
	</select>	
	
	<!-- 결제완료 수 (상품건) -->
	<select id="selectPayEdCount" parameterType="map" resultType="_int">
		select count(*) from `product_out` where product_out_status='0'
		and order_idx=#{order_idx}
		and product_idx=#{product_idx}
	    and product_out_date &gt;= #{timestamp_begin}
	    and product_out_date &lt;= #{timestamp_end}
	</select>
	
	<!-- 배송준비중 수 (상품건) -->
	<select id="selectDlvIngCount" parameterType="map" resultType="_int">
		select count(*) from `product_out` where product_out_status='1'
		and order_idx=#{order_idx}
		and product_idx=#{product_idx}
	    and product_out_date &gt;= #{timestamp_begin}
	    and product_out_date &lt;= #{timestamp_end}
	</select>
	
	<!-- 배송중 수 (상품건) -->
	<select id="selectDlvEdCount" parameterType="map" resultType="_int">
		select count(*) from `product_out` where product_out_status='2'
		and order_idx=#{order_idx}
		and product_idx=#{product_idx}
	    and product_out_date &gt;= #{timestamp_begin}
	    and product_out_date &lt;= #{timestamp_end}
	</select>		

	<!-- 배송상태 (상품건) -->
	<select id="selectDlvStatus" parameterType="map" resultType="_int">
		select product_out_status from `product_out` 
		where order_idx=#{order_idx}
		and product_idx=#{product_idx}
	    and product_out_date &gt;= #{timestamp_begin}
	    and product_out_date &lt;= #{timestamp_end}
	</select>					
</mapper>